{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}
<section class="bar background-gray no-mb" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              {{ range first 1 (where .Site.Pages "Title" "Nosotros") }}
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-2">
                          {{ with .Title }}
                              <h2 class="section-heading">{{ . }}</h2>
                              <hr class="primary light">
                          {{ end }}
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-md-4">
                          <div class="profile">
                              {{ with .Params.Avatar }}
                                  <div class="portrait" title="avatar: {{ . }}" style="background-image: url('{{ (printf "images/%s" .) | absURL }}');"></div>
                              {{ end }}
                              {{ with .Params.Short_text }}
                                  <div class="text-primary">
                                      <p>{{ . | markdownify }}</p>
                                  </div>
                              {{ end }}
                          </div>
                      </div>

                      <div class="col-xs-12 col-md-8 text-tertiary">
                          <p>{{ .Content | markdownify }}</p>
                      </div>
                  </div>
              </div>
              {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}
