{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}
<section class="bar background-white no-mb" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              {{ range first 1 (where .Site.Pages "Title" "Nosotros") }}
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">
                          {{ with .Title }}
                              <h1 class="section-heading">{{ . }}</h1>
                              <hr class="primary light">
                          {{ end }}
                      </div>
                  </div>
              </div>
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12 text-tertiary">
                          <p>{{ .Content }}</p>
                      </div>
                  </div>
              </div>
              {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}
