{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}
<section class="bar background-white no-mb" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              {{ range first 1 (where .Site.Pages "Title" "Nosotros") }}
              <div class="container">
                <div class="row flex-center">
                    <div class="col-xs-12 col-sm-6 text-center">
                        <span class="fa-stack fa-7x">
                            <i class="fas fa-circle fa-stack-2x text-purple"></i>
                            <i class="fas fa-rocket fa-stack-1x fa-inverse"></i>
                          </span>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-tertiary">
                        <p>{{ .Content }}</p>
                    </div>
                  </div>
              </div>
              {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}
