{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
<section id="programs" class="no-mb">
    <div class="home-carousel">
        <div class="homepage owl-carousel">
            {{ range where .Site.Pages "Section" "programs" }}
            {{ if .Params.image }}
            <div class="item item-carousel">
                <img class="img-responsive img-carousel" src="{{ .Params.image }}" alt="">
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}