{{ if isset .Site.Params "gallery" }}
{{ if .Site.Params.gallery.enable }}
{{ if gt (len (where .Site.Pages "Section" "gallery")) 0 }}
<section id="gallery">
    <div class="gallery-carousel">
        <div class="container">
            <div class="heading text-center">
                <h2>Galería</h2>
            </div>
            <div class="gallery owl-carousel">
                {{ range where .Site.Pages "Section" "gallery" }}
                {{ if .Params.image }}
                <div class="item">
                    <img class="img-responsive img-small" src="{{ .Params.image }}" alt="">
                    <h3>{{.Title}}</h3>
                </div>
                {{ end }}
                {{ end }}
            </div>
          </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
