{{ if .Site.Params.topbar.enable }}
<div id="top">
  <div class="container-fluid">
    <div id="nav-custom-top" class="row">
      <div class="col-xs-5 contact-text">
        {{ .Site.Params.topbar.text | safeHTML }}
      </div>
      <div class="col-xs-7">
        <div class="top-buttons">
          {{ .Site.Params.btnPago.text | safeHTML }}
          <div class="social">
            {{ range .Site.Menus.topbar.ByWeight }}
            <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
            {{ end }}
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
