/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#transparency li.item h3 {
  min-height: 80px;
}

#top .contact-text a {
  text-decoration: underline;
  color: #eee;
}

#top #nav-custom-top {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 100%;
} 