/* your styles go here */
@font-face {
  font-family: "Wendy-One";
  src: url("./fonts/wendy-one/WendyOne-Regular.ttf")
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-ExtraBold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/open-sans/OpenSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

body { 
  font-family: "Open-Sans", serif
}

h1, h2, h3, h4, h5{
  font-family: "Wendy-One";
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#transparency li.item h3 {
  min-height: 80px;
}

#top .contact-text a {
  text-decoration: underline;
  color: #eee;
}

#top #nav-custom-top {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 100%;
}

.item-carousel {
  position: relative;
}

.caption-carousel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0px 100px 50px;
}

.caption-carousel>div {
  background-color: #00000033;
  margin: 0px -100px;
  padding: 10px 50px
}

.caption-carousel h1, .caption-carousel p {
  color: #fff
}

.owl-theme .owl-controls {
  position: absolute;
  width: 100%;
  bottom: 10px;
  margin-top: 0px;
}

.home-carousel .owl-theme .owl-controls .owl-page span {
  background: #ccc9c9;
}

.border-round {
  border-radius: 20px;
}

.btn-purple {
  color: #fff;
  background-color: #490a54;
  border-color: #1f0224;
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
  color: #fff;
  background-color: #9316a9;
}

.top-buttons {
 display: flex;
 align-items: center;
 justify-content: flex-end;
}
.top-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
 }

 .top-buttons .btn-pago {
   margin-right: 10px;
 }

 .text-purple {
  color: #490a54;
 }

 .fa-7x {
   font-size: 9em;
 }

 .flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 }

 .main-donation {
  background-color: #f1f0ea;
 }
 .main-donation h2,
 .main-donation p {
  color: #f48430;
 }

 .main-donation .btn-pago {
  font-size: 24px;
  margin-top: 20px;
  font-family: "Wendy-One";
  padding: 10px 60px;
  border-radius: 30px;
}